# App
ASPNETCORE_URLS=http://0.0.0.0:5000
WEB_PORT=8085

# Postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=rail
POSTGRES_USER=app
POSTGRES_PASSWORD=app_pw
POSTGRES_CONNECTION_STRING=Host=postgres;Port=5432;Username=app;Password=app_pw;Database=rail
PGDATA_DIR=./pgdata

# Kafka (trains)
TRAINS_BOOTSTRAP_SERVERS=
TRAINS_USERNAME=
TRAINS_PASSWORD=
TRAINS_CERTIFICATE_PATH=
TRAINS_TOPIC=
TRAINS_CONSUMER_GROUP=aerail-consumer

# pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin
PGADMIN_DATA_DIR=./pgadmin_data
PGADMIN_PORT=5050


